{% extends "base.html" %}
{% from "_formhelpers.html" import render_pagination %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<button class="btn btn-outline-secondary" name="download_all" onclick="window.location='/download';">Download all</button>
<button class="btn btn-outline-secondary" name="download_page" onclick="window.location='/download?page={{ pagination.page }}';">Download page</button>

<table class="table table-sm table-hover table-bordered">
  <thead>
    <tr>
      {% for key in ls[0].keys()|sort %}
        {% if key != '_id' %}
          <th scope="col" onclick="sort_table('{{ loop.index0 }}')">
            {{ key }}
          </th>
        {% else %}
          <th scope="col">#</th>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th><input type="button"
                 class="btn btn-outline-secondary"
                 name="reset_filter"
                 onclick="reset_filter()"
                 value="Reset"></th>
      {% for key in ls[0].keys()|sort %}
        {% if key != '_id' %}
          <th>
            <input type="text"
                   class="form-control"
                   id="filter{{ loop.index0 }}"
                   name="filter_{{ key }}"
                   onkeyup="table_filter({{ loop.index0 }})"
                   placeholder="Filter"
                   title="Type smth"
                   size="3">
          </th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody id="output_table">
    {% for el in ls %}
    <tr>
      <td>{{ el['_id'] }}</td>
      {% for key, value in el|dictsort %}
        {% if '\\Msk-vm-slip' in value|string %}
          <td><a href="file:///{{ value }}">link</a></td>
        {% elif key != '_id' %}
          <td>{{ value }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <th scope="col">#</th>
    {% for key in ls[0].keys()|sort %}
      {% if key != '_id' %}
        <th scope="col" id="{{ key }}">{{ key }}</th>
      {% endif %}
    {% endfor %}
  </tfoot>
</table>


{{ render_pagination(pagination, "views.output_fn") }}

<script type="text/javascript">summ()</script>
{% endblock %}