table {
	table-layout:fixed;
}
td, th {
  word-break: normal;
  overflow-wrap: break-word;
  font-size: smaller;
}
input:invalid {
    border-color: red;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
