{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
<div class="row justify-content-center">
  <h1>Sign In</h1>
</div>
<div class="row justify-content-center">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ render_field(
        form.username,
        minlength="4",
        maxlength="64",
        title="Your username should be at least 4 characters long, but not more than 64 characters long.",
        required="true"
      ) }}
    {{ render_field(form.password, required="true") }}
    <div>
    	Forgot your password?
    	<a href="{{ url_for('.reset_password_request') }}">Click to reset password</a>
    </div>
    <div class="checkbox">{{ form.remember_me()|safe }}{{ form.remember_me.label }}</div>
    {{ form.submit(class="btn btn-success") }}
  </form>
</div>
<div class="row justify-content-center">
  <div>
    New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a>
  </div>
</div>
{% endblock %}