{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
  <h1>Register</h1>
</div>
<div class="row justify-content-center">
  <form action="" method="post" onsubmit="return validate_pass()">
    {{ form.hidden_tag() }}
    {{ render_field(
        form.username,
        minlength="4",
        maxlength="64",
        title="Your username should be at least 4 characters long, but not more than 64 characters long.",
        required="true"
      ) }}
    {{ render_field(
        form.email,
        type="email",
        required="true"
      ) }}
    {{ render_field(
        form.password,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    {{ render_field(
        form.password2,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    {{ form.submit(class="btn btn-success")|safe }}
  </form>
</div>
{% endblock %}