{% extends "auth_template.html" %}
{% from "helper.html" import render_field %}

{% block content %}
  <h1>Register</h1>
  <form action="" method="post" onsubmit="return validate_pass()">
    {{ form.hidden_tag() }}
    {{ render_field(
        form.username,
        minlength="4",
        maxlength="64",
        title="Your username should be at least 4 characters long, but not more than 64 characters long.",
        required="true"
      ) }}
    {{ render_field(
        form.email,
        type="email",
        required="true"
      ) }}
    {{ render_field(
        form.password,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    {{ render_field(
        form.password2,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}