{% extends "auth_template.html" %}
{% from "helper.html" import render_field %}

{% block content %}
  <h1>Reset Your Password</h1>
  <form action="" method="post" onsubmit="return validate_pass()">
    {{ form.hidden_tag() }}
    {{ render_field(
        form.password,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    {{ render_field(
        form.password2,
        minlength="4",
        maxlength="128",
        required="true"
      ) }}
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}